@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1b1e28; /* Matches the heading color from prototype */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Applying the fonts to Tailwind utilities */
  --font-sen: var(--font-sen);
  --font-sans: var(--font-public-sans); /* Default body font */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-public-sans), Arial, sans-serif; /* */
}

h1, h2, h3, h4 {
  font-family: var(--font-sen), sans-serif; /* */
}